[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "deps/abseil"]
	path = deps/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "deps/cctz"]
	path = deps/cctz
	url = https://github.com/google/cctz
